@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #6d8cfc; */
  background: #aff3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4c4c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.my-bg-dark-gradient {
  background: linear-gradient(
    109.6deg,
    rgb(0, 6, 16) 11.2%,
    rgb(0, 5, 72) 91.1%
  );
}

.my-bg-bright-gradient {
  background: linear-gradient(
    109.6deg,
    rgb(32, 38, 48) 11.2%, /* Slightly brighter than original rgb(0, 6, 16) */
    rgb(32, 37, 132) 91.1% /* Slightly brighter than original rgb(0, 5, 72) */
  );
  box-shadow: rgba(214, 131, 249, 0.35) 0px 5px 15px;
}


.about-card {
  background: linear-gradient(
    109.6deg,
    rgb(10, 15, 24) 11.2%,
    rgb(45, 82, 119) 91.1%
  );

  box-shadow: rgba(5, 255, 251, 0.35) 0px 5px 15px;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );
}

.my-bg-black-gradient{
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #352b2b
  ); 
  background: linear-gradient(
    to right,
    #262222,
    #434343
  ); 
}

.violet-gradient {
  background: rgb(97, 226, 235);
  background: linear-gradient(
    180deg,
    rgba(97, 226, 235, 0.8381477591036415) 5%,
    rgba(67, 121, 192, 0.854954481792717) 22%,
    rgba(97, 226, 235, 1) 88%
  );

}

.my-tagline-bg{
  background: linear-gradient(
    109.6deg,
    rgb(8, 5, 63) 11.2%,
    rgb(11, 15, 76) 91.1%
  );
  box-shadow: rgba(5, 255, 251, 0.35) 1px 5px 15px 3px;
}


.border-animation-div {
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.border-animation-div::before{
  content: "";
  background-image: conic-gradient(
      #1cf2f2 20deg,
      #1168f5 40deg,
      transparent 120deg
  );
  
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 3s linear infinite;
}

.border-animation-div::after{
  background: #101010;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 20px 20px 20px #0000008c;
}

.border-animation-div img {
  z-index: 1;
}

@keyframes rotate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-360deg);
  }
}