@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #6d8cfc; */
  background: #aff3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4c4c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.my-bg-dark-gradient {
  background: linear-gradient(
    109.6deg,
    rgb(0, 6, 16) 11.2%,
    rgb(0, 5, 72) 91.1%
  );
}


.about-card {
  background: linear-gradient(
    109.6deg,
    rgb(10, 15, 24) 11.2%,
    rgb(45, 82, 119) 91.1%
  );

  box-shadow: rgba(5, 255, 251, 0.35) 0px 5px 15px;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );
}

.my-bg-black-gradient{
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #352b2b
  ); 
  background: linear-gradient(
    to right,
    #262222,
    #434343
  ); 
}

.violet-gradient {
  background: rgb(97, 226, 235);
  background: linear-gradient(
    180deg,
    rgba(97, 226, 235, 0.8381477591036415) 5%,
    rgba(67, 121, 192, 0.854954481792717) 22%,
    rgba(97, 226, 235, 1) 88%
  );

}

.my-tagline-bg{
  background: linear-gradient(
    109.6deg,
    rgb(6, 1, 96) 11.2%,
    rgb(11, 15, 76) 91.1%
  );

  box-shadow: rgba(5, 255, 251, 0.35) 1px 5px 15px 3px;
}