@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #6d8cfc; */
  background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4c4c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.my-bg-dark-gradient {
  background: linear-gradient(109.6deg, rgb(9, 21, 23) 30%, rgb(0, 1, 14) 70%);
  border-bottom: 1px solid rgb(32, 30, 30);
}

.my-bg-bright-gradient {
  background: linear-gradient(
    109.6deg,
    rgb(32, 38, 48) 11.2%,
    /* Slightly brighter than original rgb(0, 6, 16) */ rgb(32, 37, 132) 91.1%
      /* Slightly brighter than original rgb(0, 5, 72) */
  );
  box-shadow: rgba(214, 131, 249, 0.35) 0px 5px 15px;
}

.about-card {
  background: linear-gradient(
    109.6deg,
    rgb(10, 15, 24) 20%,
    rgb(0, 21, 40) 80%
  );
  box-shadow: rgba(0, 105, 117, 0.35) 0px 5px 15px;
}

.black-gradient {
  /* background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); */

  background: #000000;
  -webkit-box-shadow: 0px 0px 63px 6px rgba(121, 134, 135, 1);
  -moz-box-shadow: 0px 0px 63px 6px rgba(121, 134, 135, 1);
  box-shadow: 0px 0px 63px 6px rgba(121, 134, 135, 1);
  border: 2px solid gray;
}

.my-bg-black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #352b2b);
  background: linear-gradient(to right, #262222, #434343);
}

.violet-gradient {
  background: rgb(97, 226, 235);
  background: linear-gradient(
    150deg,
    rgba(0, 149, 160, 0.838) 8%,
    rgba(36, 47, 48, 0.855) 22%,
    rgb(0, 0, 0) 88%
  );
}

.my-tagline-bg {
  background: linear-gradient(
    109.6deg,
    rgb(11, 15, 76) 91.1%
    rgb(2, 1, 36) 11.2%,
  );
  box-shadow: rgba(42, 226, 223, 0.35) 1px 5px 15px 3px;
}

.border-animation-div {
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-animation-div::before {
  content: "";
  background-image: conic-gradient(
    #1cf2f2 20deg,
    #1168f5 40deg,
    transparent 120deg
  );

  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 3s linear infinite;
}

.border-animation-div::after {
  background: #101010;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 20px 20px 20px #0000008c;
}

.border-animation-div img {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.bubbles-container {
  position: relative;
  width: 200px; /* Adjust the container size as needed */
  height: 200px; /* Adjust the container size as needed */
  background-color: #e0e0e0; /* Adjust the background color as needed */
  overflow: hidden;
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #007bff; /* Adjust the bubble color as needed */
  border-radius: 50%;
  animation: move-bubble 4s infinite;
}

@keyframes move-bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px) scale(0);
    opacity: 0;
  }
}

.navbar-mobile {
  display: none;
}

.navbar-desktop {
  display: flex;
}

@media (max-width: 1100px) {
  .navbar-mobile {
    display: flex;
  }

  .navbar-desktop {
    display: none;
  }
}
